
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-realtimedatabase.js"></script>
<div class="container-fluid" style="background-color: #662517; padding: 10px;">
  <div class="container-md">
   
  <a class="navbar-brand" routerLink="home">
    <img src="../assets/Bão Pão.png" alt="logo" style="width:100px;">
  </a>
  
  <a routerLink="contato" class="btn btn-light" style="background-color: #f9af26; border-color: #f9af26; font-size: medium; margin-left: 80%;"
  >Entrar</a>
</div>
</div>
<div class="container-md">
  <section>
    <router-outlet></router-outlet>
  </section>
</div>






