<div class="container" style="padding: 70px;">
    <h2 style="text-align: center;">Login</h2>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Coloque seu email" name="email">
      </div>
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Digite sua senha" name="senha_login">
      </div>
      
      <button type="submit" class="btn btn-primary" class="btn btn-light" style="background-color: #f9af26; border-color: #f9af26; font-size: medium;">Acessar</button>
    </form>
  </div>
